/* Coolors Exported Palette - https://coolors.co/b80c09-0b4f6c-01baef-fbfbff-040f16 */

/* CSS HEX */
--international-orange-engineering: #b80c09ff;
--blue-sapphire: #0b4f6cff;
--cyan-process: #01baefff;
--ghost-white: #fbfbffff;
--rich-black-fogra-29: #040f16ff;

/* CSS HSL */
--international-orange-engineering: hsla(1, 91%, 38%, 1);
--blue-sapphire: hsla(198, 82%, 23%, 1);
--cyan-process: hsla(193, 99%, 47%, 1);
--ghost-white: hsla(240, 100%, 99%, 1);
--rich-black-fogra-29: hsla(203, 69%, 5%, 1);

/* SCSS HEX */
$international-orange-engineering: #b80c09ff;
$blue-sapphire: #0b4f6cff;
$cyan-process: #01baefff;
$ghost-white: #fbfbffff;
$rich-black-fogra-29: #040f16ff;

/* SCSS HSL */
$international-orange-engineering: hsla(1, 91%, 38%, 1);
$blue-sapphire: hsla(198, 82%, 23%, 1);
$cyan-process: hsla(193, 99%, 47%, 1);
$ghost-white: hsla(240, 100%, 99%, 1);
$rich-black-fogra-29: hsla(203, 69%, 5%, 1);

/* SCSS RGB */
$international-orange-engineering: rgba(184, 12, 9, 1);
$blue-sapphire: rgba(11, 79, 108, 1);
$cyan-process: rgba(1, 186, 239, 1);
$ghost-white: rgba(251, 251, 255, 1);
$rich-black-fogra-29: rgba(4, 15, 22, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);
$gradient-right: linear-gradient(90deg, #b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);
$gradient-bottom: linear-gradient(180deg, #b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);
$gradient-left: linear-gradient(270deg, #b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);
$gradient-top-right: linear-gradient(45deg, #b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);
$gradient-bottom-right: linear-gradient(135deg, #b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);
$gradient-top-left: linear-gradient(225deg, #b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);
$gradient-bottom-left: linear-gradient(315deg, #b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);
$gradient-radial: radial-gradient(#b80c09ff, #0b4f6cff, #01baefff, #fbfbffff, #040f16ff);